<%= provide(:title, '@user.name') %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
       <%= @microposts.title %>
			</h1>

      <p>
       <%= @microposts.content %>
      </p>

		<% if @comments.any? %>
				<h3>Comments:</h3>
				<ol class="microposts">
				<%= render@comments %>
				</ol>
			<%end%>
		</section>
	</aside>
</div>
